<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calendar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/showSchedule.css}"/>
</head>
<body>
<div class="container">
  <h1 class="text-center" id="month-year">
    <span th:text="${currentYear}"></span>.
    <span th:text="${currentMonth}"></span>
  </h1>
  <div class="btn-group">
    <button id="prev-month" th:onclick="|location.href='/schedule/${beforeYear}/${beforeMonth}'|" class="btn btn-primary">&lt;</button>
    <button id="next-month" th:onclick="|location.href='/schedule/${afterYear}/${afterMonth}'|" class="btn btn-primary">&gt;</button>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="week : ${calendar}">
      <td th:each="day : ${week}" th:class="'text-center'">
        <div th:text="${day != null} ? ${day.getDay()} : ''"></div>

        <div th:each="time : ${day.getSlots()}">
          <div>
            <span th:text="${time.getStartTimeInfo()}"></span>
          </div>
          <div th:each="info : ${time.getConcertInfos()}">
            <div >
              <a th:href="${info.getUrl()}" >
                <span th:text="${info.getTitle()}"></span>
              </a>
            </div>
          </div>
        </div>

      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</html>
